*/bin*
*test/english.200MB.gz
*test/english.1024MB.gz
*test/proteins.200MB.gz
*test/proteins.100MB
*test/test.jsonl.zst
*.idea*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
